.movement-wrapper {
  display: inline-flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  width: 90%;
  border-bottom: 1px solid var(--main-grey);
  gap: 5px;
}
.icon-container {
  width: 40px;
  height: 40px;
  background: #e5e5e5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movement-title {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.movement-details {
  text-align: center;
  align-self: center;
}
