.awards-actions button {
  background: none;
  border: none;
  color: var(--main-orange);
  text-decoration: underline;
  font-weight: 600;
  margin: 15px 0 15px 0;
  font-size: 12px;
}
.bold-subtitle {
  margin-top: 13px;
  font-weight: 700;
  font-size: 18px;
  -webkit-text-stroke: thin;
}
.accounts-container {
  width: 90vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px auto;
  align-items: center;
  overflow-y: visible;
  gap: 10px;
  overflow-y: scroll;
}
.accounts-container button {
  align-self: center;
}
.wrapper-awards {
  display: flex;
  height: calc(100vh - 90px);
  flex-direction: column;
}
.award-subtitle {
  font-size: 14px;
  font-weight: 500px;
}
.awards-actions {
  margin-left: 10px;
}
