.verification-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 134px;
  text-align: center;
  text-align: -webkit-center;
  flex-direction: column;
}
.verification-wrapper p:first-child {
  margin-bottom: 23px;
  font-size: 14px;
}
.verification-wrapper p:nth-child(2) {
  font-weight: 500;
  font-size: 20px;
}

.verification-wrapper p:nth-child(3) {
  font-size: 14px;
}
.square-validationGroup {
  width: 80vw;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  gap: 10px;
  flex-direction: row;
}
.validation-btn {
  margin-top: 61px;
}
