.wrapper-acredit {
  margin-top: 91px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}
.wrapper-acredit input,
input::placeholder {
  font-size: 48px;
  text-align: center;
  color: black;
  border: none;
  outline: none;
  background: none;
  width: 100%;
  text-align: start;
  width: 36px;
}

.self-start {
  align-self: self-start;
}
.title-acredit {
  font-size: 14px;
  font-weight: 500;
}
.currency-code {
  margin-right: 15px;
}

.currency-wrap {
  display: flex;
  justify-content: center;
  margin-top: 51px;
  align-items: center;
  overflow: hidden;
}
.flex-end {
  margin-top: auto;
}
.wrapper-acredit div:last-child {
  position: absolute;
  top: 50%;
  bottom: 50%;
  display: flex;
  align-items: center;
}
